@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');

.switch-field {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	height: 40px;
	/* overflow: hidden; */
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 12px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.form {
	max-width: 570px;
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding-left: 16px;
	z-index: 2;
}

h2 {
	font-family: "TASA Orbiter", sans-serif;
	text-align: center;
	font-size: 18px;
	margin-bottom: 8px;
}

.tasa-orbiter-regular {
  font-family: "TASA Orbiter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tasa-orbiter-bold {
  font-family: "TASA Orbiter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h1{
	font-family: "TASA Orbiter";
	font-weight: 800;
	text-align: center;
	font-size: 27px;
	margin-bottom: 50px;
}

.distance{
	display: block;
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 55%;
	border: 0;
	margin: 20px auto;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	height: 35px;
	border-radius: 5px;
}

.traffic{
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 55%;
	border: 0;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	height: 40px;
	border-radius: 5px;
}

.weather{
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 55%;
	border: 0;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	height: 40px;
	border-radius: 5px;
}


.submit{
	font-family: "TASA Orbiter", sans-serif;
	display: block;
	margin: 40px auto;
	background: #a5dc86;
	width: 30%;
	border: 0;
	box-sizing: border-box;
	font-size: 15px;
	height: 50px;
	text-align: center;
	border-radius: 15px;
	font-weight: 800;
}

.result{
	font-family: "TASA Orbiter", sans-serif;
	font-weight: 400;
	display: none;
	background: #dcd686;
	width: 70%;
	border: 0;
	margin: 25px auto;
	box-sizing: border-box;
	font-size: 15px;
	height: 30px;
	text-align: center;
	
}

.img {
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-size:100% 100%;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(15px);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

body, html {
  height: 100%;
}